*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #DDFFDD;

    text-align: center;
}

#tela{
    background-color: black;
}
div{
    margin: 5vh;
}


button{
    background-color: #9999EE;
    color: white;
    width: 100px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #BBBBFF;
}
button:disabled{
    background-color: #DDDDDD;
    cursor: not-allowed;
}